@using BlazorApp.Components.Base
@using BlazorApp.Models
@using System.Text.Json;
@inject ProtectedSessionStorage ProtectedSessionStore

<div class="mt-20 text-center">
    <Heading>
        <Header>
            <h1 class="text-3xl">Your results in numbers</h1>
        </Header>
        <Subscript>
            <p class="text-primary-700">The following numbers are based on your location.</p>
        </Subscript>
    </Heading>
</div>
<div class="flex px-4 flex-col lg:flex-row justify-center mt-16">
    <div class="">
        <Image ImageName="Solarscore.png" alt="Solar Score" css="scale-90"/>
    </div>
    <div class="grid grid-cols-1 mx-auto md:grid-cols-2 gap-10">
        <Card css="border-2 border-primary-300 w-80 h-80 my-auto">
            <div class="bg-gray-100 shadow-md rounded-3xl  p-4 w-20 ">
                <Image ImageName="Sale.svg" alt="Sale" css="scale-150"/>
            </div>
            <h1  class="text-xl text-primary-800 font-semibold mt-3">Solar Score</h1>
            <div class="flex gap-1 mt-3">
                <p class="text-5xl text-primary-900 font-semibold">@solarScore</p>
                <p class="text-5xl text-gray-400 font-bold">%</p>
            </div>
        </Card>
        <Card css="border-2  border-primary-300 p-4 w-80 h-80 flex my-auto flex-col">
            <div class="bg-gray-100 shadow-md rounded-3xl p-4 w-20 ">
                <Image ImageName="History.svg" alt="Sale" css="scale-150"/>
            </div>
            <h1  class="text-xl text-primary-800 font-semibold mt-3">Usable hours of sunlight per day</h1>
            <div class="flex gap-1 mt-3">
                <p class="text-5xl text-primary-900 font-semibold">@dayLightHours</p>
                <p class="text-5xl text-gray-400 font-bold">h</p>
            </div>
        </Card>
        <Card css="border-2  border-primary-300 p-4 w-80 h-80">
            <div class="bg-gray-100 shadow-md rounded-3xl p-4 w-20 ">
                <Image ImageName="Accumulator.svg" alt="Sale" css="scale-150"/>
            </div>
            <h1  class="text-xl text-primary-800 font-semibold mt-3">Avg Energy Production</h1>
            <div class="flex gap-1 mt-3">

                <p class="text-5xl text-primary-900 font-semibold">@avgEnergyProduction</p>
                <p class="text-5xl text-gray-400 font-bold">kw/h</p>
            </div>
        </Card>
        <Card css="border-2 flex flex-col gap-4 border-primary-300 p-4 w-80 h-80">
            <h1  class="text-xl text-primary-800 font-semibold mt-3">Solar System Used for Calculations</h1>
            <div class="flex justify-evenly">
                 <div onclick="@(() => SetSystemSize("5kw"))" class=" flex shadow-md transition-all duration-500  @(SystemSize == "5kw" ? "bg-primary-500 scale-110 text-gray-100 " : "bg-gray-100 text-primary-900 hover:scale-110 ") rounded-2xl justify-center items-center w-16 h-16">
                    <p class=" font-semibold">5kw</p>
                </div>
                <div onclick="@(() => SetSystemSize("8kw"))" class="flex shadow-md transition-all duration-500 @(SystemSize == "8kw" ? "bg-primary-500 scale-110 text-gray-100 " : "bg-gray-100 text-primary-900 hover:scale-110 ") rounded-2xl justify-center items-center w-16 h-16">
                    <p class="font-semibold">8kw</p>
                </div>
                <div onclick="@(() => SetSystemSize("12kw"))" class="flex shadow-md transition-all duration-500 @(SystemSize == "12kw" ? "bg-primary-500 scale-110 text-gray-100 " : "bg-gray-100 text-primary-900 hover:scale-110 ") rounded-2xl justify-center items-center w-16 h-16">
                    <p class="font-semibold">12kw</p>
                </div>
            </div>
            <div class="flex gap-2 mt-3">
                <p class="text-5xl text-primary-900 font-semibold">@PanelCount</p>
                <p class="text-4xl text-gray-400 translate-y-1 font-semibold">panels</p>
            </div>
        </Card>
    </div>
</div>

@code {
    private int solarScore = 0;
    private int dayLightHours = -1;
    private string SystemSize = "5kw";
    private int PanelCount = 8;
    private BasicCalculationModel basicCalculation = null;
    private List<ProductModel> systems = new List<ProductModel>();
    private string? API_PORT = Environment.GetEnvironmentVariable("API_PORT");
    public int selectedSystem = 0;
    public double avgEnergyProduction = 0.0;
    public string solarScoreId = "";
    public List<SolarScoreModel> solarScores = new List<SolarScoreModel>();
    protected override async Task OnInitializedAsync()
    {
        var dlh = await ProtectedSessionStore.GetAsync<BasicCalculationModel>("basicCalculation");
        if (dlh.Success)
        {
            basicCalculation = dlh.Value;
            dayLightHours = basicCalculation.daylightHours;
        }
        else
        {
            Console.WriteLine("Unsuccess");
        }

        await GetProducts();
        if (basicCalculation != null && systems != null)
        {
            double calc = systems[selectedSystem].numberOfPanels *
                               basicCalculation.daylightHours * systems[selectedSystem].solarInput / 1000;
            avgEnergyProduction = Math.Round(calc, 2);
        }
        else
        {
            Console.WriteLine("Error");
            Console.WriteLine(basicCalculation == null);
            Console.WriteLine(systems == null);
        }
        //get solarScoreId
        var solarScoreIdTemp = await ProtectedSessionStore.GetAsync<string>("solarScoreId");
        if (solarScoreIdTemp.Success)
        {
            solarScoreId = solarScoreIdTemp.Value;
            GetSolarScores(solarScoreId);
        }
        else
        {
            Console.WriteLine("Unsuccess");
        }

        
    }

    private void SetPanelCount(int count)
    {
        PanelCount = count;
    }

    private void SetSystemSize(string size)
    {
        SystemSize = size;
        switch (size)
        {
            case "5kw":
                selectedSystem = 0;
                SetPanelCount(8);
                break;
            case "8kw":
                selectedSystem = 1;
                SetPanelCount(14);
                break;
            case "12kw":
                selectedSystem = 2;
                SetPanelCount(20);
                break;
            default:
                selectedSystem = 0;
                SetPanelCount(8);
                break;
        }

        double calc = systems[selectedSystem].numberOfPanels *
                               basicCalculation.daylightHours * systems[selectedSystem].solarInput / 1000;
        avgEnergyProduction = Math.Round(calc, 2);
    }

    private async Task GetProducts()
    {
        var client = new HttpClient();
        var request = new HttpRequestMessage(HttpMethod.Get, API_PORT + "/System/all");
        var response = await client.SendAsync(request);
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
        {
            var data = await response.Content.ReadAsStringAsync();
            systems = JsonSerializer.Deserialize<List<ProductModel>>(data, new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive
                                                                                                = true
                })!;
        }
        else
        {
            Console.WriteLine("Failed");
        }
    }

    //get solar Score 
    private async Task GetSolarScores(string solarScoreId)
    {
        int count = 0;
        int max = 10;
        int prev = solarScores.Count;
        while(solarScores.Count < 12){
            Console.WriteLine("Waiting");
            //Sleep 2 seconds
            await Task.Delay(2000);
            var client = new HttpClient();
            var request = new HttpRequestMessage(HttpMethod.Get, API_PORT + "/solarscore/get");
            var content = new StringContent("{\r\n    \"solarScoreId\": \"" + solarScoreId + "\"\r\n}", null, "application/json");
            request.Content = content;
            var response = await client.SendAsync(request);
            if(response.IsSuccessStatusCode){
                Console.WriteLine("Success");
                var data = await response.Content.ReadAsStringAsync();
                solarScores = JsonSerializer.Deserialize<List<SolarScoreModel>>(data);
                    if(prev == solarScores.Count){
                        count++;
                    }else{
                        prev = solarScores.Count;
                        count = 0;
                        CalculateSolarScore();
                        StateHasChanged();
                    }                   
            }else{
                Console.WriteLine("Failed");
                solarScores = new List<SolarScoreModel>();
            }
            Console.WriteLine(solarScores.Count);

            if(count >= max){
                break;
            }

        }

        Console.WriteLine("Done");
        
    }

    public void CalculateSolarScore(){
        if(solarScores.Count > 0){
            int score = 0;
            
            foreach(var solarScore in solarScores){
                int add = 1;
                if(solarScore.score.Equals("Good")){
                    add = 3;
                }else if(solarScore.score.Equals("Average")){
                   add = 2;
                }
                score += add;

            }
            Console.WriteLine("score: " +score);
            int total = solarScores.Count * 3;
            Console.WriteLine("solarScores.Count: " +total);

            float ans = (score / (float)total) * 100;
            Console.WriteLine("ans: " +ans);
            solarScore = (int)ans;
        }
    }

}
