@namespace BlazorApp.EnviromentImpact

<div>
    <p>Enviroment Impact</p>
    @if(annualKWGenerated != null) 
    {
        <p>Total power saved: @solarDataHandler.getPowerSaved((double)annualKWGenerated) kW</p>
        <p>Total CO2 saved: @solarDataHandler.getCO2Saved((double)annualKWGenerated) kg</p>
        <p>Total water saved: @solarDataHandler.waterSaved((double)annualKWGenerated) L</p>
        <p>Total coal not burnt (equivalent): @solarDataHandler.coalNotBurnt((double)annualKWGenerated) kg</p>
        <p>Total trees planted: @solarDataHandler.treesPlanted((double)annualKWGenerated)</p>
    }
</div>

@code {

    [Parameter] public double? annualKWGenerated { get; set; }
    private DataHandlers.SolarDataHandler solarDataHandler = new DataHandlers.SolarDataHandler();

    protected override void OnInitialized()
    {
        if (annualKWGenerated == null)
        {
            annualKWGenerated = 0;
        }

    }
}
