<div class="@css">
    <label for="@name" class="block font-light text-sm leading-6 text-gray-900 capitalize">@label</label>
    <div class="relative mt-2 rounded-md shadow-sm">
        <input type="@type" name="@name" id="@name"
            class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
            placeholder="@placeholder">
    </div>
</div>

@code {
    [Parameter]
    public string type { get; set; } = "text";
    [Parameter]
    public string name { get; set; } = "";
    [Parameter]
    public string? placeholder { get; set; }
    
    [Parameter]
    public string? value { get; set; }

    [Parameter]
    public string? label { get; set; }

    [Parameter]
    public string? css { get; set; }
}